* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    outline: none; // Pour ne pas faire apparaitre les bordures
}

p {
    padding-top: 1rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    //font-family: 'Felipa', cursive;
}
